.menu {
    position: fixed;
    width: 300px;
    height: auto;
    top: 50%;
    z-index: 1;
    -webkit-transform: translate3d(-242.5px, -50%, 0);
    transform: translate3d(-242.5px, -50%, 0);
    -webkit-transition: -webkit-transform 0.6s, -webkit-background-color 0.5s;
    transition: transform 0.6s, background-color 0.5s;
    /*temporary for making viewing easier*/
    background-color: rgba(255, 255, 255, 0);
}

.menu.menu--open {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    background-color: rgba(255, 255, 255, .97);
    -webkit-background-color: rgba(255, 255, 255, .97);
}

.menu__inner {
    width: 100%;
    /*padding: 0 140px 2em 0;*/
    overflow-y: auto;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: transparent;
    pointer-events: none;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    pointer-events: all;
}

.menu ul li {
    margin: 0 0 2em 0;
    -webkit-transform: translate3d(-242.5px, 0, 0);
    transform: translate3d(-242.5px, 0, 0);
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.menu ul li:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    margin-top: 30px;
}

.menu ul li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.menu--open ul li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*
.menu ul li:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
*/

.menu ul li a {
    display: block;
    outline: none;
    /*color: #B24E51;*/
}

.menu ul li .fa {
    font-size: 3.5em;
    display: block;
    margin: 0 auto;
    color: #5f656f;
}

.menu ul li span {
    font-weight: bold;
    font-size: 1em;
    font-family: 'Arsenal', arial, sans-serif !important;
    text-transform: uppercase;
}

.arrow {
    height: 20px;
    width: 20px;
    border-left: 7px solid white;
    border-bottom: 7px solid white;
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -135deg);
    transition: transform 0.25s;
    position: relative;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out, border-color 0.5s linear;
}

.menu--open .arrow {
    /*transform: rotate3d(0,0,1,45deg);*/
    transform: scale3d(-1, 1, 1) rotate3d(0, 0, 1, -135deg);
    border-color: black;
}


/*Closed handle and what happens when hovering over it*/

.menu__handle {
    background: rgba(0, 0, 0, 1);
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
    outline: none;
    position: absolute;
    top: calc(50% - 20px);
    right: 8.75px;
    z-index: 1;
    transition: background 0.5s linear, border-color 0.8s linear, opacity 0.3s linear;
}

/*media query for iPhone6+ in portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    .menu__handle {
        opacity: 0.2;
    }
    .menu--open .menu__handle {
        opacity: 1;
    }
}

@media only screen and (min-device-width: 1224px) {
    .menu__handle:hover {
        background: rgba(255, 255, 255, 0.8);
        transition: background 0.5s linear;
    }
    .menu__handle:hover>.arrow {
        border-color: #e10e0e;
    }
}


/*Opened handle and what happens when hovering over it*/

.menu--open .menu__handle {
    background: rgba(0, 0, 0, 0);
    border: 1px solid black;
}

@media only screen and (min-device-width: 1224px) {
    .menu--open .menu__handle:hover {
        background: rgba(0, 0, 0, 0.9);
        border: 1px solid transparent;
    }
    .menu--open .menu__handle:hover>.arrow {
        border-color: #e10e0e;
    }
}

.morph-shape {
    position: absolute;
    width: 240px;
    height: 100%;
    top: 0;
    right: -57.5px;
    pointer-events: none;
}

.morph-shape svg path {
    stroke: #ece3e3;
    stroke-width: 5px;
}

.menu--open .morph-shape svg path {
    stroke: #c93535;
}

@media screen and (max-width: 63em) {
    .main {
        padding: 0 2em;
        -webkit-transition: opacity 0.6s;
        transition: opacity 0.6s;
    }
    .menu {
        /*-webkit-transform: translate3d(-170px, 0, 0);
        transform: translate3d(-170px, 0, 0);*/
    }
    .menu.menu--open+.main {
        opacity: 0.05;
    }
}
