@import url('https://fonts.googleapis.com/css?family=Arsenal');

body {
    background-color: #333;
    color: white;
    font-family: 'Arsenal';
}

a {
    clear: left;
    color: #B24E51;
    text-decoration: none;
}

p {}

.container {
    text-align: center;
    padding: 5.25em 0 0 0;
}

.footer {
    text-align: center;
    padding: 0 0 5.25em 0;
}

.side {
    float: right;
    background-color: white;
    margin: 0px 5px 0 5px;
    width: 300px
}

/*.main{
    padding: 0em 5em 0 5em;
}*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

span.popup {
    border-bottom:1px dotted white;
}

span.popup:hover {
    color:#ff7f7f;
    border-bottom:1px dotted #ff7f7f;
    cursor:default;
}
